<div class="depot_form">
<fieldset>
  <legend>Please Enter Your Details</legend>
  <%= render 'form' %>
</fieldset>
</div>
<%= button_to 'Pay', @order.paypal_url(orders_url, payment_notifications_url) %> 