<ul class="categories">
	<% @categories.each do |category| %>
	  <%= link_to category.title, category %>
	<% end %>
</ul>
<ul class="items">
	<% @items.each do |item| %>
	  <li class='title'><%= item.title %></li>
	  <li class='description'><%= item.description %></li>
	  <li class='price'><%= item.price %></li>
	<% end %>
<ul>